[buildout]
parts =
    zope2
    instance
    zopepy
    test
    coverage-test
    coverage-report

eggs =
extends = http://dist.plone.org/release/3.2.1/versions.cfg
develop = .

[zope2]
recipe = plone.recipe.zope2install
url = http://www.zope.org/Products/Zope/2.11.2/Zope-2.11.2-final.tgz

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
debug-mode = on
verbose-security = on
user = admin:admin
http-address = 0.0.0.0:8080
eggs =
    ${buildout:eggs}
    collective.monkeypatcher
    elementtree
zcml =
    collective.monkeypatcher

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
extra-paths = ${zope2:location}/lib/python
scripts = zopepy

[test]
recipe = collective.recipe.z2testrunner
zope2part = instance
packages =
    collective.monkeypatcher
extra-paths = ${buildout:directory}
defaults = -cvvvv
exit-with-status = true

[coverage-test]
recipe = collective.recipe.z2testrunner
zope2part = instance
packages =
    collective.monkeypatcher
extra-paths = ${buildout:directory}
defaults = --coverage=./coverage

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')
